<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">
		<h3>Listado de usuarios</h3>
		<h:form id="form">
		
			<h:panelGrid columns="1" id="pg">
			
			<h:panelGrid columns="2" rendered="false">
			<h:outputText value="Usuario" />
			<p:inputText id="usuario" value="#{usuarioBean.paramUsuario}" />
			
			</h:panelGrid>
			
			
			
				<p:dataTable id="tblUsr" var="usr" value="#{usuarioBean.listaUsuario}" 
				    filteredValue="#{usuarioBean.listaUsuarioFiltered}"
				    rows="10"
					paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15">
					
					<p:column filterBy="#{usr.usuario}" headerText="usuario"  filterMatchMode="contains" >
						<h:outputText value="#{usr.usuario}" />
					</p:column>
					
					<p:column  headerText="Estado">
						<h:outputText value="#{usr.estado eq 'A' ? 'Activo':'Inactivo' }" />
					</p:column>
					<p:column headerText="Accion">
					<p:commandButton icon="ui-icon-circle-check" update=":form1:dtoUsr" onclick="PF('dlg1').show();"  >
					 <f:setPropertyActionListener target = "#{usuarioBean.usuario}"  value="#{usr}" />
					</p:commandButton>
					
					</p:column>


				</p:dataTable>



			</h:panelGrid>
		</h:form>

		<h:form id="form1">
		    <p:growl id="mensajes" showDetail="true" sticky="true" />  
			<p:dialog header="Edicion de Usuario" widgetVar="dlg1" Height="200" resizable="false">
				<h:panelGrid  id="dtoUsr" columns="2">
				<h:outputLabel value="Usuario:" />
				<h:outputText value="#{usuarioBean.usuario.usuario}"  style="font-weight: bold;"/>
				<h:outputLabel value="Contrasena Actual:" />
				<h:panelGrid columns="2">
				<p:password value="#{usuarioBean.claveActual}" /> 
				<p:commandButton value="consulta" action="#{usuarioBean.verifica()}" update="dtoUsr" />
				</h:panelGrid>
				<h:outputLabel value="Contrasena Nueva:" />
				<p:password value="#{usuarioBean.clavenueva}"
				feedback="true" promptLabel="ingrese clave " weakLabel="debil"
                    goodLabel="buena" strongLabel="fuerte"
				 /> 
				<h:outputLabel value="Confirmar Contrasena:" />
				<p:password value="#{usuarioBean.claveConfirmada}" feedback="true"
				promptLabel="ingrese clave " weakLabel="debil"
                    goodLabel="buena" strongLabel="fuerte"
				/> 
				
				
				<p:commandButton value="modificar" disabled="#{usuarioBean.verificado eq false}" update="mensajes" action="#{usuarioBean.modificar()}" />
				
				</h:panelGrid>
			</p:dialog>
		</h:form>


	</ui:define>

</ui:composition>

</html>